<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kryptokalkulator</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Alle scripts -->
    <script src = "../static/Main.js" type="module"></script>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="row">
    <div id = "header" class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Kryptokalkulator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Kalkulator</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="om.html">Om<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class = "row">
    <div class = "col">
    <h4>Hvordan bruker jeg kalkulatoren? </h4>
    <p>Bla bla bla</p>
        </div>
</div>
<div class = "row">
    <div class = "col">
    <h4>Hvordan bruker jeg resultatet? </h4>
    <p>Bla bla bla</p>
        </div>
</div>
<div class = "row">
    <div class = "col">
    <h4>Hvordan får jeg tak i filene jeg skal laste opp? </h4>
    <p>Bla bla bla</p>
    </div>
</div>
<div class = "row">
    <div class = "col">
    <h4>Hvordan fungerer kalkulatoren? </h4>
    <p>Bla bla bla</p>
    </div>
</div>
<footer>
    <p><br><br>Laget av Magnus Midtbø Kristiansen og Sindre Aubert</p>
    <p>Priser er basert på <a href = "https://www.cryptocompare.com/api/#" target="_blank">CryptoCompares</a> API</p>
</footer>
</body>
</html>
